@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  position: sticky;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.search{
  justify-content: center;
  align-items: center;
}
.srch{
  width: 150px;
  height: 40px;
  background-color: #1b1b1b;
  border: 1px solid #fff;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn{
  width: 70px;
  height: 40px;
  background: #fff;
  border: 2px solid #fff;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content {
  color: #1b1b1b;
  text-align: center;
  padding: 150px 0;
}

.content h1 {
  font-size: 60px;
  margin: 0;
}
.content p {
  font-size: 22px;
  margin: 10px 0 40px 0;
}
/* page-2 */

.categories {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #1b1b1b;
  opacity: 0.95;
}
.head h1{
  text-align: center;
  font-weight:bolder;
  font-size:60px;
  color: #fff;
  padding: 20px;
  margin-top: 5px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.card .crd{
  width: 300px;
  height: 500px;
  background-color: #F1F1F1;
  margin-inline: 11px;
  margin-bottom: 22px;
  border-radius: 5px;
}
.crd img{
  width: 300px;
  height: 70%;
  border-radius: 5px;
}
.crdText{
  margin-left: 16px;
  padding: 8px;
  font-weight: lighter;
}
.crdText button{
  width: 130px;
  height: 33px;
  border-radius:5px ;
  border:1px solid #1b1b1b;
  background-color: #1b1b1b;
  color: white;
  font-size: 19px;
  margin-top: 11px;
  margin-left: 20px;
}
.crdText i{
  color: rgb(255, 149, 0);
}

footer {
  background-color: #545454;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-weight: lighter;
}

footer p {
  margin: 0;
}

.footer1{
  display: flex;
  justify-content: center;
  padding: 53px;
}
footer .footerText{
  margin-inline: 85px;
  color: #fff;
}
.footerText p{
  margin-top: 11px;
}